<div class="container" style="text-align: center; margin-top:100px;" ng-show="!hasServiceEvent">
    <div>
        <h1>Welcome to Guidanz</h1>
        <p>You currently have no pending service events</p>
        <a ui-sref="intake" class="btn btn-primary">Register a Service event</a>
    </div>
</div>
<div class="container" ng-show="hasServiceEvent">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
            <h2>Currently Servicing Engine #12345</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
            <h3>Knowledge Articles</h3>
            <table class="table" style="width:100%; table-layout:fixed;">
                <tr>
                <th width="20%">Article #</th>
                <th width="35%">Title</th>
                <th width="45%">Description</th>
              </tr>
              <tr>
                <td width="20%">1</td>
                <td width="35%" style="overflow:hidden; text-overflow: ellipsis; white-space: nowrap">
                    <a href="">How to repair engines</a>
                </td>
                <td width="45%">This article explains how to fix engines</td>
              </tr>
            </table>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
            <h3>Service History</h3>
            <table class="table" style="display:block;overflow:auto;white-space: nowrap; max-height: 200px;">
                <tr>
                    <th>Fault Code</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Notes</th>
                </tr>
                <tr>
                    <td>123456</td>
                    <td>Test fault code</td>
                    <td>1/2/2017</td>
                    <td>This fault code was tested and found in the engine</td>
                </tr>
            </table>
            </div>
            <div class="row">
                <h1>Engine KPIs</h1>
            </div>
        </div>
    </div>
</div>