<!--Show if a service event has not yet been registered-->
<div class="container-fluid" ng-show="!hasServiceEvent">
    <div class="action-needed">
        <h1>Welcome to Guidanz</h1>
        <p>You currently have no pending service events</p>
        <a ui-sref="intake" class="btn btn-primary">Register a Service event</a>
    </div>
</div>

<!--Show if a service event has been registered-->
<div class="container-fluid" ng-show="hasServiceEvent">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <h2>Currently Servicing Engine #12345</h2>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-6">
            <div class="col-sm-12">
                <h3>Knowledge Articles</h3>
                <table id="ka-table" class="table table-striped" fixed-header>
                    <thead>
                        <tr>
                            <th class="ka-article-num">Article #</th>
                            <th class="ka-title">Title</th>
                            <th class="ka-description">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="ka-article-num">1</td>
                            <td class="ka-title">
                                <a href="https://cumminsengines.com/uploads/docs/Inline/INLINE_7_manual.pdf" target="_blank">
                                    How to repair engines
                                </a>
                            </td>
                            <td class="ka-description">This article explains how to fix engines</td>
                        </tr>
                        <tr>
                            <td class="ka-article-num">1</td>
                            <td class="ka-title">
                                <a href="https://cumminsengines.com/uploads/docs/Inline/INLINE_7_manual.pdf" target="_blank">
                                    How to repair engines
                                </a>
                            </td>
                            <td class="ka-description">This article explains how to fix engines</td>
                        </tr>
                        <tr>
                            <td class="ka-article-num">1</td>
                            <td class="ka-title">
                                <a href="https://cumminsengines.com/uploads/docs/Inline/INLINE_7_manual.pdf" target="_blank">
                                    How to repair engines
                                </a>
                            </td>
                            <td class="ka-description">This article explains how to fix engines</td>
                        </tr>
                        <tr>
                            <td class="ka-article-num">1</td>
                            <td class="ka-title">
                                <a href="https://cumminsengines.com/uploads/docs/Inline/INLINE_7_manual.pdf" target="_blank">
                                    How to repair engines
                                </a>
                            </td>
                            <td class="ka-description">This article explains how to fix engines</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12">
                <h3>Service History</h3>
                <table id="sh-table" class="table table-striped" fixed-header>
                    <thead>
                        <tr>
                            <th class="sh-date">Date</th>
                            <th class="sh-fault-code">Fault Code</th>
                            <th class="sh-description">Fault Description</th>
                            <th class="sh-notes">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="record in engineServiceHistory">
                            <td class="sh-date">{{record.date}}</td>
                            <td class="sh-fault-code">{{record.faultCode}}</td>
                            <td class="sh-description">{{record.faultDescription}}</td>
                            <td class="sh-notes">Fixed the oil leak</td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
    
    <hr ng-show="hasFaultCodes" style="margin: 20px 0px"/>
    
    <!--Show if the engine has been paired with to get telematics data-->
    <div class="row" style="max-height: 350px;" ng-show="hasFaultCodes">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <h3>Engine KPIs</h3>
                <div class="form-group">
                    <span style="white-space: nowrap; width: 100%;">
                        <label for="inKpi" style="margin-right: 10px;">Select a KPI: </label>
                        <select ng-model="selectedKPI" ng-change="loadChart()" style="display:inline-block; width:40%;" class="form-control" id="inKpi">
                            <option value=""></option>
                            <option ng-repeat="kpi in kpis" value="{{kpi}}">{{kpi | decamelize }}</option>
                        </select>
                    </span>
                </div>
                <div id="home-chart"></div>
            </div>
        </div>
    </div>
</div>